{% load staticfiles %}

<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../../../favicon.ico">-->
    <link href="https://fonts.googleapis.com/css?family=Copse|Imprima" rel="stylesheet">

    <title>Felix Werthschulte | Musikjournalist</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'site/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'site/style.css' %}" rel="stylesheet">
  </head>
  <body>

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top dark_menu">
        <a class="navbar-brand mybrand" href="/">Felix Werthschulte</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!--<div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
        </div>-->
      </nav>
    </header>

    <main role="main">

{% block content %}
{% endblock %}
    </main>
    <!-- FOOTER -->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <p>&copy; 2018 Felix Werthschulte &middot; <a href="/p/datenschutz/">
            Datenschutz</a> &middot; <a href="/p/impressum/">Impressum</a>
           &middot; <a href="/p/kontakt/">Kontakt</a></p>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="{% static 'site/bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>
